<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<!--<div class="bar bar-subheader bar-positive">-->
		<!--<div class="buttons">-->
			<!--<button class="button button-clear" ng-click="showFilters()">Filters</button>-->
		<!--</div>-->

		<!--<h2 class="title">Subhead!</h2>-->

		<!--<div class="buttons">-->
			<!--<button class="button">Right Button</button>-->
		<!--</div>-->
	<!--</div>-->

	<ion-content class="has-header has-subheader">
		<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<ion-checkbox name="recentRain72h"
				              ng-model="section.recentRain72h">Rained in the past 72 hours?</ion-checkbox>

				<ion-checkbox name="recentRain7d"
				              ng-model="section.recentRain7d">Rained in the past 7 days?</ion-checkbox>

				<button class="button button-full button-calm"
				        padding="true"
				        type="submit"
				        >Save</button>
			</ion-list>
		</form>
	</ion-content>
</ion-view>