<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<!--<div class="bar bar-subheader bar-positive">-->
		<!--<div class="buttons">-->
			<!--<button class="button button-clear" ng-click="showFilters()">Filters</button>-->
		<!--</div>-->

		<!--<h2 class="title">Subhead!</h2>-->

		<!--<div class="buttons">-->
			<!--<button class="button">Right Button</button>-->
		<!--</div>-->
	<!--</div>-->

	<ion-content class="has-header">
		<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<!--<h2>TODO: Take a landscape photo of the water</h2>-->

				<label class="item item-input item-select"
				       ng-class="{ 'has-error' : sectionForm.waterColour.$invalid && sectionForm.$submitted}">
					<div class="input-label">Water Color</div>
					<select name="waterColour"
					        ng-options="colour.label for colour in waterColours"
					        ng-model="formIntermediary.waterColour"></select>
				</label>
				<div class="form-errors" ng-messages="sectionForm.waterColour.$error"
				     ng-show="sectionForm.waterColour.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<ion-checkbox name="recentRain72h"
				              ng-model="section.oilSheen">Oil sheen present</ion-checkbox>

				<label class="item item-input item-stacked-label item-text-wrap"
				       ng-class="{ 'has-error' : sectionForm.garbageDescription.$invalid && sectionForm.$submitted}">
					<span class="input-label">Describe the type and extent of garbage on the water</span>

					<textarea name="garbageDescription"
					          placeholder="{{getMessage('garbageDescPlaceholderWater')}}"
					          ng-model="section.garbageDescription"
					          msd-elastic="\n"></textarea>
				</label>
				<div class="form-errors" ng-messages="sectionForm.garbageDescription.$error"
				     ng-show="sectionForm.garbageDescription.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<!-- sewer drains ____________ start -->
				<ion-checkbox name="sewerDrainsNear"
				              class="item-text-wrap"
				              ng-model="formIntermediary.sewerDrainsNear">Active sewer drains or outfalls observed in vicinity of site</ion-checkbox>
				<div ng-if="formIntermediary.sewerDrainsNear">
					<div class="item item-input bop-icon-right item-text-wrap"
					     ng-class="{ 'has-error' : sectionForm.sewerDrainLocation.$invalid && sectionForm.$submitted}">
						<span class="input-label">Drain Location</span>
						<input name="sewerDrainLocation"
						       type="text"
						       placeholder="lat,lng"
						       ng-model="section.sewerDrainLocations[0].location"
						       latlng
						       >
						<span class="input-label button button-clear button-positive icon ion-pinpoint"
						        ng-click="setDrainLocationUsingGPS()"></span>
					</div>
					<div class="form-errors" ng-messages="sectionForm.sewerDrainLocation.$error"
					     ng-show="sectionForm.sewerDrainLocation.$invalid && sectionForm.$submitted">
						<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
					</div>

					<label class="item item-input item-stacked-label"
					       ng-class="{ 'has-error' : sectionForm.outfallGPM.$invalid && sectionForm.$submitted}">
						<span class="input-label">Approximate volume of outfall (GPM)</span>
						<input name="outfallGPM"
						       type="number"
						       ng-model="section.sewerDrainLocations[0].outfallGPM"
	                           min="0">
					</label>
					<div class="form-errors" ng-messages="sectionForm.outfallGPM.$error"
					     ng-show="sectionForm.outfallGPM.$invalid && sectionForm.$submitted">
						<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
					</div>
				</div>

				<!-- polution alert ____________ start -->
				<ion-checkbox name="pollutionDrainsNear"
				              class="item-text-wrap"
				              ng-model="formIntermediary.pollutionDrainsNear">Pollution Alert</ion-checkbox>
				<div ng-if="formIntermediary.pollutionDrainsNear">
					<div class="item item-input bop-icon-right item-text-wrap"
					     ng-class="{ 'has-error' : sectionForm.pollutionDrainLocation.$invalid && sectionForm.$submitted}">
						<span class="input-label">Drain Location</span>
						<input name="pollutionDrainLocation"
						       type="text"
						       placeholder="lat,lng"
						       ng-model="section.pollutionDrainLocations[0].location"
						       latlng
						       >
						<span class="input-label button button-clear button-positive icon ion-pinpoint"
						        ng-click="setPollutionDrainLocationUsingGPS()"></span>
					</div>
					<div class="form-errors" ng-messages="sectionForm.pollutionDrainLocation.$error"
					     ng-show="sectionForm.pollutionDrainLocation.$invalid && sectionForm.$submitted">
						<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
					</div>

					<label class="item item-input item-stacked-label"
					       ng-class="{ 'has-error' : sectionForm.pollutionOutfallGPM.$invalid && sectionForm.$submitted}">
						<span class="input-label">Approximate volume of outfall (GPM)</span>
						<input name="pollutionOutfallGPM"
						       type="number"
						       ng-model="section.pollutionDrainLocations[0].outfallGPM"
	                           min="0">
					</label>
					<div class="form-errors" ng-messages="sectionForm.pollutionOutfallGPM.$error"
					     ng-show="sectionForm.pollutionOutfallGPM.$invalid && sectionForm.$submitted">
						<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
					</div>
				</div>

				<button class="button button-full button-calm"
				        padding="true"
				        type="submit"
				        >Save</button>
			</ion-list>
		</form>
	</ion-content>
</ion-view>