<ng-switch on="isSamsung">
	<div ng-switch-when="true">
		<input dynamic-name="opts.name"
		       type="text"
		       ng-model="myValue"
		       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 0 } }"
		       ng-change="propagateModel()"
		       samsung-min="{{min}}"
		       samsung-max="{{max}}"
	</div>
	<div ng-switch-when="false">
		<input dynamic-name="opts.name"
		       type="number"
		       ng-model="myValue"
		       ng-change="propagateModel()"
		       min="{{min}}"
		       required>
		       max="{{max}}">
	</div>
</ng-switch>