<!--<div ng-controller="WaterQualityIndicatorCtrl">-->
	<form name="datumForm"
	      novalidate=""
	      ng-submit="onSubmit(datumForm.$valid)">
		<label class="item item-input bop-units-right"
		     ng-class="{ 'has-error' : datumForm.$invalid && datumForm.$submitted}">
			<input name="datum"
			       type="number"
			       min="0"
			       ng-model="data.popupData"
			       autofocus>
			{{units}}
		</label>
		<div class="form-errors" ng-messages="datumForm.datum.$error"
		     ng-show="datumForm.datum.$invalid && datumForm.$submitted">
			<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
		</div>
		<div class="popup-buttons">
			<button class="button button-default"
				    padding="true"
				    type="button"
			        ng-click="onCancel()"
				    >Cancel</button>
			<button class="button button-calm"
		    padding="true"
		    type="submit"
		    >Add</button>
		</div>
	</form>
<!--</div>-->