<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive"
		        ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help
		</button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
			<div ng-init="setFormScope(sectionForm)"></div>
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<!-- sediment volume ____________ start -->
				<label class="item item-input item-text-wrap bop-units-right"
				       ng-class="{ 'has-error' : sectionForm.outfallGPM.$invalid && sectionForm.$submitted}">
					<span class="input-label">Sediment volume</span>
					<input name="volume"
					       type="number"
					       class="text-right"
					       ng-model="section.volume"
					       ng-change="updateVolumeRate(sectionForm)"
					       placeholder="0"
					       min="0"
					       max="100">
					cm&sup3;
				</label>
				<div class="form-errors" ng-messages="sectionForm.volume.$error"
				     ng-show="sectionForm.volume.$invalid && sectionForm.$submitted">
					<div class="form-error" ng-message="max">{{getMessage('unlikely')}}</div>
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<!-- n days collected ____________ start -->
				<label class="item item-input item-text-wrap item-stacked-label"
				       ng-class="{ 'has-error' : sectionForm.daysCollected.$invalid && sectionForm.$submitted}">
					<span class="input-label">Number of days sediment was collected</span>
					<input name="daysCollected"
					       type="number"
					       ng-model="section.daysCollected"
					       ng-change="updateVolumeRate(sectionForm)"
					       placeholder="0"
					       min="0">
				</label>
				<div class="form-errors" ng-messages="sectionForm.daysCollected.$error"
				     ng-show="sectionForm.daysCollected.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<!-- calculated ____________ start -->
				<div ng-show="sectionForm.volume.$valid && sectionForm.daysCollected.$valid"
				     class="calculated-fields bop-units-right">
					<label class="item item-input item-text-wrap">
						<span class="input-label">Rate per day: </span>
						<input name="volumeRate"
						       type="text"
						       class="text-right"
						       ng-model="volumeRateDisplay"
						       tabindex="-1"
						       readonly>
						cm&sup3;
					</label>
				</div>

				<!-- appearance description ____________ start -->
				<label class="item item-input item-stacked-label item-text-wrap"
				       ng-class="{ 'has-error' : sectionForm.garbageDescription.$invalid && sectionForm.$submitted}">
					<span class="input-label">Describe appearance of sediment</span>

					<textarea name="sedimentDescription"
					          placeholder="{{getMessage('sedimentDescPlaceholder')}}"
					          ng-model="section.sedimentDescription"
					          msd-elastic="\n"></textarea>
				</label>
				<div class="form-errors" ng-messages="sectionForm.sedimentDescription.$error"
				     ng-show="sectionForm.sedimentDescription.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<button class="button button-full button-calm"
				        padding="true"
				        type="submit"
				        >Save</button>
			</ion-list>
		</form>
	</ion-content>
</ion-view>
