<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive"
		        ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help
		</button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
			<div ng-init="setFormScope(sectionForm)"></div>
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<div class="item item-divider">Describe the appearance of the accumulated sediment on the inside of the sediment tube</div>

				<!-- The  | orderObjectBy:'order':false is not currently being used - that property is not yet in the DB -->

				<!-- smell-->
				<label class="item item-input item-select"
				       ng-class="{ 'has-error' : sectionForm.smell.$invalid && sectionForm.$submitted}">
					<div class="input-label"><i class="icon ion-coffee"></i> Smell</div>
					<select name="smell"
					        ng-options="option.label for option in sedimentOptions.smells.options | orderObjectBy:'order':false"
					        ng-model="formIntermediary.smell"></select>
				</label>
				<div class="form-errors" ng-messages="sectionForm.smell.$error"
				     ng-show="sectionForm.smell.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<!-- color-->
				<label class="item item-input item-select"
				       ng-class="{ 'has-error' : sectionForm.color.$invalid && sectionForm.$submitted}">
					<div class="input-label"><i class="icon ion-android-color-palette"></i> Color</div>
					<select name="color"
					        ng-options="option.label for option in sedimentOptions.colors.options | orderObjectBy:'order':false"
					        ng-model="formIntermediary.color"></select>
				</label>
				<div class="form-errors" ng-messages="sectionForm.color.$error"
				     ng-show="sectionForm.color.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<!-- texture-->
				<label class="item item-input item-select"
				       ng-class="{ 'has-error' : sectionForm.texture.$invalid && sectionForm.$submitted}">
					<div class="input-label"><i class="icon ion-android-hand"></i> Texture</div>
					<select name="texture"
					        ng-options="option.label for option in sedimentOptions.textures.options | orderObjectBy:'order':false"
					        ng-model="formIntermediary.texture"></select>
				</label>
				<div class="form-errors" ng-messages="sectionForm.texture.$error"
				     ng-show="sectionForm.texture.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<!-- organisms-->
				<div class="item item-divider"><i class="icon ion-bug"></i> Organisms</div>
				<ion-checkbox ng-repeat="option in sedimentOptions.organisms.options | orderObjectBy:'order':false track by option.machineName"
				              ng-model="formIntermediary.organisms[option.machineName]">{{option.label}}</ion-checkbox>
				<div class="form-errors" ng-messages="sectionForm.organisms.$error"
				     ng-show="sectionForm.organisms.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<div ng-if="formIntermediary.organisms.other">
					<label class="item item-input item-stacked-label item-text-wrap"
					       ng-class="{ 'has-error' : sectionForm.organismsDescOther.$invalid && sectionForm.$submitted}"
							>
						<span class="input-label">Other Organism Description</span>

						<textarea name="organismsDescOther"
						          ng-model="section.organismsDescOther"
						          msd-elastic="\n"></textarea>
					</label>
					<div class="form-errors" ng-messages="sectionForm.organismsDescOther.$error"
					     ng-show="sectionForm.organismsDescOther.$invalid && sectionForm.$submitted">
						<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
					</div>
				</div>

				<!-- notes-->
				<div class="item item-divider"><i class="icon ion-document-text"></i> Notes</div>
				<label class="item item-divider item-stacked-label item-text-wrap"
				       ng-class="{ 'has-error' : sectionForm.notes.$invalid && sectionForm.$submitted}">

					<textarea name="notes"
					          placeholder="{{getMessage('sedimentNotesPlaceholder')}}"
					          ng-model="section.notes"
					          msd-elastic="\n"></textarea>
				</label>
				<div class="form-errors" ng-messages="sectionForm.notes.$error"
				     ng-show="sectionForm.notes.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<button class="button button-full button-calm"
				        padding="true"
				        type="submit"
				        >Save</button>
			</ion-list>
		</form>
	</ion-content>
</ion-view>
