<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
			<div ng-init="setFormScope(sectionForm)"></div>
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<h4 class="padding">Bioaccumulation on cage: <span class="selectedText">{{section.bioaccumulation | toBioAccumulationName}}</span></h4>
				<div class="imageGrid">
					<div class="row">
						<div class="col text-right">
							<div class="image none"
							     ng-class="{selected:section.bioaccumulation == 0}"
							     ng-click="section.bioaccumulation = 0"
							     ng-disabled="section.bioaccumulation == 0"
							     ng-mousedown="className='activated'"></div>
						</div>
						<div class="col text-left">
							<div class="image light"
							     ng-class="{selected:section.bioaccumulation == 1}"
							     ng-click="section.bioaccumulation = 1"
							     ng-disabled="section.bioaccumulation == 1"
							     ng-mousedown="className='activated'"></div>
						</div>
					</div>
					<div class="row">
						<div class="col text-right">
							<div class="image medium"
							     ng-class="{selected:section.bioaccumulation == 2}"
							     ng-click="section.bioaccumulation = 2"
							     ng-disabled="section.bioaccumulation == 2"
							     ng-mousedown="className='activated'"></div>
						</div>
						<div class="col text-left">
							<div class="image heavy"
							     ng-class="{selected:section.bioaccumulation == 3}"
							     ng-click="section.bioaccumulation = 3"
							     ng-disabled="section.bioaccumulation == 3"
							     ng-mousedown="className='activated'"></div>
						</div>
					</div>
				</div>

				<label class="item item-input item-stacked-label item-text-wrap"
				       ng-class="{ 'has-error' : sectionForm.damageDescription.$invalid && sectionForm.$submitted}">
					<span class="input-label">Note any damage to cage:</span>

					<textarea name="damageDescription"
					          placeholder="{{getMessage('cageDamageDescPlaceholder')}}"
					          ng-model="section.damageDescription"
					          msd-elastic="\n"></textarea>
				</label>
				<div class="form-errors" ng-messages="sectionForm.damageDescription.$error"
				     ng-show="sectionForm.damageDescription.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<button class="button button-full button-calm"
				        padding="true"
				        type="submit"
				        >Save</button>
			</ion-list>
		</form>
	</ion-content>
</ion-view>