<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-default filter-buttons">
		<div class="row">
			<div class="col">
				<button class="button button-clear all-cats"
				        ng-click="onChangeCategory()"
				        ng-class="{'button-calm':filters.category == undefined}">All</button>
			</div>
			<div class="col" ng-repeat="cat in organismCategories">
				<button class="button button-clear filter"
				        ng-click="onChangeCategory(cat)"
				        ng-disabled="cat == filters.category">
					<ng-include class="filterIcon"
					            src="organismCategoriesFileName(cat)"></ng-include>
				</button>
			</div>
		</div>
	</div>

	<div class="bar bar-footer bar-default">
		<!--<button class="button button-clear button-calm icon ion-ios-plus-empty"-->
		        <!--ng-click="addOyster()">Foo</button>-->
		<!--<h2 class="title">Foo</h2>-->
		<button class="button button-calm pull-right"
		        type="submit"
		        ng-click="onTapSave()">Save</button>
	</div>

	<ion-content class="has-header has-subheader has-footer">
		<h2 class="padding">{{sectionMeta.title}}</h2>
		<div class="tiles">
			<div ng-repeat="org in organisms | filter:{category:filters.category || undefined} | orderBy:'common' track by org._id" ng-init="id = org._id" class="tile">
				<img ng-src="/images/protocol2/mobileOrganisms/{{org.file}}"><br>
				<p class="name">
					<span class="common">{{org.common}}</span><br>
					<span class="latin">{{org.latin}}</span>
				</p>
				<div class="controls">
					<div class="list">
						<div class="item item-input-inset">
							<label class="item-input-wrapper">
								<input type="number"
								       ng-model="section.organisms[id].count"
								       ng-blur="enforceNumber(id)"
								       min="0"
								       placeholder="0">
							</label>
						</div>
						<div class="buttons">
							<button class="button icon ion-minus left" ng-click="decrement(id)"></button>
							<button class="button icon ion-plus right" ng-click="increment(id)"></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<button class="button button-block button-positive" ng-click="onTapSave()">Save</button>-->
	</ion-content>
</ion-view>