<ion-modal-view class="protocol-section oysterGrowth photos">
	<ion-header-bar>
		<h1 class="title">Photos</h1>
		<button class="button button-calm" ng-click="requestClosePhotosModal()">Done</button>
	</ion-header-bar>

	<div class="bar bar-footer bar-default">
		<button class="button button-calm pull-right"
		        ng-click="toggleSide()"
				ng-if="side == 'inside'"
				>
			Outside <i class="icon ion-ios-arrow-forward"></i>
		</button>
		<!--<h2 class="title">Foo</h2>-->
		<button class="button button-calm"
		        ng-click="toggleSide()"
				ng-if="side == 'outside'"
				>
			<i class="icon ion-ios-arrow-back"></i> Inside
		</button>
	</div>

	<ion-content scroll="true" class="has-header has-footer text-center">
		<img class="wanted padding" src="/images/protocol2/oysterGrowth/dead-or-alive.svg">
		<div class="sides">
			<div ng-if="side == 'inside'"
			     class="photo-frame inside slide-right"
			     on-swipe-left="toggleSide()">
				<div class="inner"
				     ng-class="{'photo-matte': photoURLs.inside != null}"
				     ng-click="takePhoto('inside')"
				     ng-mousedown="className='activated'"
				     bop-back-img="{{photoURLs.inside}}">
					<p ng-show="!photoURLs.inside"><i class="icon ion-ios-camera"></i> TAP HERE TO TAKE A PHOTO OF THE INSIDE OF THE SUBSTRATE SHELL</p>
					<div class="frame"></div>
				</div>
			</div>
			<div ng-if="side == 'outside'"
			     class="photo-frame outside slide-left"
			     on-swipe-right="toggleSide()">
				<div class="inner"
				     ng-class="{'photo-matte': photoURLs.outside != null}"
				     ng-click="takePhoto('outside')"
				     ng-mousedown="className='activated'"
				     bop-back-img="{{photoURLs.outside}}">
					<p ng-show="!photoURLs.outside"><i class="icon ion-ios-camera"></i> TAP HERE TO TAKE A PHOTO OF THE OUTSIDE OF THE SUBSTRATE SHELL</p>
					<div class="frame"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>