@font-face {
  font-family: 'bopicon';
  src: url('/fonts/bopicon.eot?25483650');
  src: url('/fonts/bopicon.eot?25483650#iefix') format('embedded-opentype'),
       url('/fonts/bopicon.woff?25483650') format('woff'),
       url('/fonts/bopicon.ttf?25483650') format('truetype'),
       url('/fonts/bopicon.svg?25483650#bopicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bopicon';
    src: url('/fonts/bopicon.svg?25483650#bopicon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bopicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-humidity:before { content: '\e800'; } /* '' */
.icon-temperature:before { content: '\e801'; } /* '' */
.icon-wind:before { content: '\e802'; } /* '' */
.icon-wind-direction:before { content: '\e803'; } /* '' */
.icon-dissolved-oxygen:before { content: '\e804'; } /* '' */
.icon-nitrates:before { content: '\e805'; } /* '' */
.icon-phosphates:before { content: '\e806'; } /* '' */
.icon-ammonia:before { content: '\e807'; } /* '' */
.icon-salinity:before { content: '\e808'; } /* '' */
.icon-ph:before { content: '\e809'; } /* '' */
.icon-turbidity:before { content: '\e80a'; } /* '' */
.icon-oxidation-reduction-potential:before { content: '\e80b'; } /* '' */
.icon-water-clarity:before { content: '\e80c'; } /* '' */
.icon-water-temperature:before { content: '\e80d'; } /* '' */
.icon-fecal-coliform:before { content: '\e80e'; } /* '' */
.icon-sedimentation:before { content: '\e80f'; } /* '' */
.icon-tide-1:before { content: '\e810'; } /* '' */
.icon-tide-2:before { content: '\e811'; } /* '' */
.icon-tide-4:before { content: '\e812'; } /* '' */
.icon-tide-5:before { content: '\e813'; } /* '' */
.icon-oil:before { content: '\e814'; } /* '' */
.icon-tide-3:before { content: '\e815'; } /* '' */
.icon-sun:before { content: '\e816'; } /* '' */
.icon-cloud-sun:before { content: '\e817'; } /* '' */
.icon-cloud:before { content: '\e818'; } /* '' */
.icon-rain:before { content: '\e819'; } /* '' */
.icon-oyster-alive:before { content: '\e81a'; } /* '' */
.icon-oyster-dead:before { content: '\e81b'; } /* '' */
.icon-substrate-shell:before { content: '\e81c'; } /* '' */
.icon-check-mark:before { content: '\e81d'; } /* '' */
.icon-oyster-measurement:before { content: '\e81e'; } /* '' */
.icon-school:before { content: '\e81f'; } /* '' */
.icon-thunderstorm:before { content: '\e820'; } /* '' */
.icon-snow:before { content: '\e821'; } /* '' */
.icon-hail:before { content: '\e822'; } /* '' */
.icon-cage-depth:before { content: '\e823'; } /* '' */
.icon-cage-bioaccumulation:before { content: '\e824'; } /* '' */
.icon-flag:before { content: '\e825'; } /* '' */
.icon-camera:before { content: '\e826'; } /* '' */
.icon-trash:before { content: '\e827'; } /* '' */
.icon-chart-bar:before { content: '\e828'; } /* '' */
.icon-graduation-cap:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-picture-1:before { content: '\e82c'; } /* '' */