// ref: https://calendee.com/2014/12/26/validation-in-ionic-framework-apps-with-ngmessages/

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.calculated-fields {
	$color: #C4E9FF;
	background-color: $color;

	h5 {
		margin-top:0;
	}

	.item {
		background-color: transparent;
	}

	input[readonly] {
		background-color: $color;
	}
}


.protocol-section {
	&.oysterGrowth {
		h5 {
			padding-top:30px;
		}
		.shell {
			border-top: 2px solid black;
			margin-bottom: 70px;
			&.last {
				margin-bottom: 0;
			}
		}
	}
}

.bop-icon-right {
	input {
		padding-right: 0;
		margin-right: -40px;
	}
}