.protocol-section.mobileOrganisms {
	.tiles {
		text-align: center;
		vertical-align: top;
	}

	.tile {
		position: relative;
		display:inline-block;
		margin: 5px;
		width: 145px;
		height: 320px;
		border: 1px solid #666;
		overflow: hidden;
		vertical-align: top;

		img {
			width:145px;
			height:145px;
		}

		.item {
			border: none;
			padding-top:0;
			padding-bottom:8px;
		}

		.item-input-wrapper {
			margin-top: 5px;
		}

		input {
			height:45px;
			line-height: 19px;
		}
	}

	.filter-buttons {
		padding: 5px 10px 0 10px;

		.row {
			padding: 0;

			.col {
				padding:0;
			}
		}

		.filterIcon {
			$iconSize: 30px;
			display: inline-block;
			width: $iconSize;
			height: $iconSize;

			svg {
				height: $iconSize;
				width:auto;

				path {
					fill:$bop-disabled;
				}
			}
		}

		.button[disabled] {
			opacity: 1;

			.filterIcon {
				svg {
					path {
						fill:$calm;
					}
				}
			}
		}
	}

	.name {
		line-height: 1.2em;

		.common{
			font-weight: bold;
		}

		.latin {
			font-style: italic;
		}
	}

	.controls {
		position: absolute;
		bottom:0;
		width:100%;

		.buttons {
			position: relative;
			height:58px;
		}

		button {
			position: absolute;
			top:1px;

			&.left {
				left:10px;
			}
			&.right {
				right:10px;
			}
		}

		label {
			margin-top:10px;
			padding:0;
			input {
				padding:0;
				text-align: center;
			}
		}
	}
}

.mobileOrganismsModal {
	.tiles {
		text-align: center;
	}

	.tile {
		position: relative;
		display:inline-block;
		margin: 5px;
		width: 140px;
		height: 140px;
		overflow: hidden;
		vertical-align: top;
	}
}

@media screen and (min-width: 768px) {
	.protocol-section.mobileOrganisms {
		$newHeight: 95px;
		.bar-subheader {
			height: $newHeight !important;
		}

		.has-subheader {
			top: $bar-height + $newHeight !important;
		}

		.filter-buttons {
			padding: 5px 10px 0 10px;

			.filterIcon {
				$iconSize: 80px;
				width: $iconSize;
				height:$iconSize;

				svg {
					height:$iconSize;
				}
			}
		}

		.button.all-cats {
			font-size:3em;
			margin-top: 23px;
			margin-left: 27px;
		}
	}
}