.mobileOrganisms {
	.col {
		padding: 5px 0;
	}

	.col {
		&.inner {
			padding-right:5px;

			&:last-child {
				padding-right:0px;
			}
		}
	}

	.col-demo {
	  padding: 5px;
	  width: 100%;
	  border: 1px solid #ddd;
	  border-radius: 2px;
	  background: #f7f7f7;
	  text-align: center;
	}
}