.protocol-section.oysterGrowth {
	.substrate-shell {
		position: relative;
		display: inline-block;
		margin-right: -7px;
		margin-bottom: 13px;
		padding: 0;
		height: 90px;
		max-height: none;

		i.icon-substrate-shell {
			&::before {
				font-size: 500%;

			}

			color: $bop-action;
		}

		.icon::before {
			margin: 0;
		}

		i.icon-check-mark {
			&::before {
				font-size: 110%;

			}

			position: absolute;
			right: 10px;
			bottom: -9px;
			color: $bop-action;
		}

		.label {
			position: absolute;
			font-size: 1.4em;
			top: 11px;
			left: 20px;
			text-align: center;
			width: 40px;
			font-weight: bold;
			color: $bop-action;
		}
	}

	.oyster {
		$iconSize:54px;

		h3 {
			margin-bottom:10px;
		}

		$height:106px;

		.living-status {
			display: inline-block;
			vertical-align: bottom;
			margin-right:15px;

			.cta {
				width: 89%;
				margin-top: 5px;
				text-align: center;
			}

			input[type=radio] {
				position: absolute;
				left:-9999px;
				width: $iconSize;
				height: $height;
				margin: 0 -10px 0 0;
				padding: 0;
				opacity: 0;

				+ label {
					display: inline-block;
//					opacity: 1;
					padding-top: 87px;
					margin-left: -15px;
					background: transparent url("/images/protocol1/oysterGrowth/oyster-alive.svg") no-repeat 0 0;
					background-size: contain;
					width: 79px;
					text-align: center;

					&.dead {
						background: transparent url("/images/protocol1/oysterGrowth/oyster-dead.svg") no-repeat 0 0;
						background-size: contain;
					}
				}

				&:checked {
					+ label {
						background: transparent url("/images/protocol1/oysterGrowth/oyster-alive-selected.svg") no-repeat 0 0;

						&.dead {
							background: transparent url("/images/protocol1/oysterGrowth/oyster-dead-selected.svg") no-repeat 0 0;
							background-size: contain;
						}
					}
				}
			}
		}

		.size {
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			width: 124px;
			height: $height;
			background: transparent url("/images/protocol1/oysterGrowth/calipers-average-grey.svg") no-repeat 0 0;
			background-size: auto 79px;

			.fg {
				position: absolute;
				bottom:4px;
				right:0;
				width:100%;
				text-align: right;
			}

			.inputContainer {
				display: block;
				font-size:22px;
				vertical-align: middle;
			}

			input {
				width: 73px;
				margin-left:26px;
				text-align: right;
				display: inline-block;
				font-size: inherit;
				vertical-align: inherit;
				height: auto;
				padding: 0;
				background-color: transparent;
				color:$base-color;

				+ span {
					vertical-align: inherit;
					margin-left: -5px;
				}

				&::-webkit-input-placeholder {
					//for some reason it's different by default so made this adjustment to make the placeholder match a user-entered value
					line-height: 31px;
				}
			}
		}

		.item-content {
			padding-right:16px;

			.form-errors {
				text-align: right;
				margin-right: 12px;
			}
		}
	}

	&.stats {

		.col:first-child {
			padding-right:25px;
		}

		.value {
			$imgHeight: 50px;
			font-size: 30px;
			white-space: nowrap;
			text-align: right;
			height:$imgHeight;
			line-height: 2.4em;

			background-repeat: no-repeat;
			background-position: bottom left;
			background-size: auto $imgHeight;

			&.alive {
				background-image: url("/images/protocol1/oysterGrowth/oyster-alive.svg");
				background-position-x: -10px; //compensate for left-padding in this svg image
			}

			&.dead {
				background-image: url("/images/protocol1/oysterGrowth/oyster-dead.svg")
			}

			&.size {
				background-image: url("/images/protocol1/oysterGrowth/calipers-average-grey.svg")
			}

			.units {
				font-size:70%;
				padding-left:5px
			}
		}
	}
}