.protocol-section.sessileOrganisms {
	.cta {
		margin-bottom: 5px;
	}

	.bar-subheader .title {
		font-size: 1em;
	}

	.button.photos {
		//I didn't see a more "Ionic" way of having two buttons on the right in the bar-subheader
		//so instead I added pull-right to both of them and am offsetting the one button here using a margin.
		margin-right:46px;
	}

	.settlement-tiles {
		$tileSpacing:20px;

		position: relative;
		display:table;
		border-spacing: $tileSpacing;
		border-collapse: separate;
		margin: 0 auto;


		.tile-row {
			display: table-row;
		}

		.tile {
			$tileSize:130px;

			display:table-cell;
			background-color: $bop-disabled;
			color:#fff;
			text-align: center;
			vertical-align: middle;
			font-size: 2.5em;
			width: $tileSize;
			height: $tileSize;

			&.activated {
				background-color: $calm;
			}

			&.completed {
				background-color: $calm;
			}
		}
	}

	.grid-tiles {
		$tileSpacing:4px;

		padding-top: 10px;
		position: relative;
		display:table;
		border-spacing: $tileSpacing;
		border-collapse: separate;
		margin: 0 auto;

		.tile-row {
			display: table-row;
		}

		.tile {
			$tileSize:50px;

			display:table-cell;
			background-color: $bop-disabled;
			color:#fff;
			text-align: center;
			vertical-align: middle;
			font-size: 1.5em;
			width:$tileSize;
			height:$tileSize;

			&.activated {
				background-color: $calm;
			}

			&.completed {
				background-color: $calm;
			}
		}
	}

	&.photos {
		.photo-frame {
			position:absolute;
			width:100%;
			margin-top:40px;

			.inner {
				position: relative;
				margin: 0 auto;
				$frameSize: 300px;
				width: $frameSize;
				height: $frameSize;
				padding: 10px;
				background-size: contain;
				background-position: center;

				&.photo-matte {
					background-color: #ddd;
				}

				p {
					width: 85%;
					margin: 37% auto;
					color: $calm;

					.icon {
						font-size: 1.7em;
						vertical-align: middle;
						margin-right: 8px;
					}
				}

				&.activated {
					p {
						opacity: .7;
					}
				}

				.frame {
					position: absolute;
					top:0;
					left:0;
					width: $frameSize;
					height: $frameSize;

					//TODO replace with SVG border as in Tracey's comp
					border: 2px solid #333333;
				}
			}
		}
	}

	&.selectOrganism{
		.bar-subheader .name {
			color: $calm;
		}

		.cta {
			//tweak so you can see the top border which was hiding under the bar-subhead
			margin-top:1px;
		}

		.tiles {
			text-align: center;
			vertical-align: top;
		}

		$picSize:145px;
		$tileWidth:$picSize;
		$tileHeight:226px;
		$borderColor: #666;

		.tile {
			position: relative;
			display:inline-block;
			margin: 5px;
			width: $tileWidth;
			height: $tileHeight;
			overflow: hidden;
			vertical-align: top;

			img {
				display:block;
				width:$picSize;
				height:$picSize;
			}

			.item {
				border: none;
				padding-top:0;
				padding-bottom:8px;
			}

			.item-input-wrapper {
				margin-top: 5px;
			}

			input {
				height:45px;
				line-height: 19px;
			}

			&.activated {
				opacity: .7;
			}

			.frame{
				position: absolute;
				top:0;
				left:0;
				width: $tileWidth;
				height: $tileHeight;
				border: 1px solid $borderColor;

				&.selected {
					border: 3px solid $calm;
				}
			}

		}

		.noImage{
			width: $picSize;
			height: $picSize;
			border-bottom:1px solid $borderColor;
			background-color: $bop-disabled;
		}

		.name {
			line-height: 1.2em;
			padding-top:5px;

			.common{
				font-weight: bold;
			}

			.latin {
				font-style: italic;
			}
		}
	}

	&.notes {
		.bar-subheader .name {
			color: $calm;
		}
	}

	&.stats {
		.item {
			p {
				font-size: 2em;
				color: $calm;
				font-weight: bold;
				margin: 10px 0 10px 0;
			}
			h2 {
				font-size: 1.1em;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.protocol-section.sessileOrganisms {
		.settlement-tiles {
			$tileSize:220px;
			$tileSpacing:20px;
			border-spacing: $tileSpacing;

			.tile {
				font-size: 4em;
				width:$tileSize;
				height:$tileSize;
			}
		}

		.grid-tiles {
			$tileSpacing:8px;

			padding-top: 30px;
			border-spacing: $tileSpacing;

			.tile {
				$tileSize:100px;
				font-size:2.5em;
				width:$tileSize;
				height:$tileSize;
			}
		}
	}
}