.protocol-section.sessileOrganisms {
	.cta {
		margin-bottom: 5px;
	}

	.bar-subheader .title {
		font-size: 1em;
	}

	.button.photos {
		//I didn't see a more "Ionic" way of having two buttons on the right in the bar-subheader
		//so instead I added pull-right to both of them and am offsetting the one button here using a margin.
		margin-right:46px;
	}

	.settlement-tiles {
		$tableSize: 320px;
		$tileSpacing:20px;

		position: relative;
		display:table;
		border-spacing: $tileSpacing;
		border-collapse: separate;
		width:$tableSize;
		height:$tableSize;
		margin: 0 auto;


		.tile-row {
			display: table-row;
		}

		.tile {
			display:table-cell;
			background-color: $bop-disabled;
			color:#fff;
			text-align: center;
			vertical-align: middle;
			font-size: 2.5em;
			position: relative;

			&.activated {
				background-color: $calm;
			}

			&.completed {
				background-color: $calm;
				i {
					position: absolute;
					top: 35%;
					left: 35%;
				}
			}
		}
	}

	.grid-tiles {
		$tableSize: 300px;
		$tileSpacing:4px;

		padding-top: 10px;
		position: relative;
		display:table;
		border-spacing: $tileSpacing;
		border-collapse: separate;
		width:$tableSize;
		height:$tableSize;
		margin: 0 auto;

		.tile-row {
			display: table-row;
		}

		.tile {
			position: relative;
			display:table-cell;
			background-color: $bop-disabled;
			color:#fff;
			text-align: center;
			vertical-align: middle;
			font-size: 1.5em;

			&.activated {
				background-color: $calm;
			}

			&.completed {
				background-color: $calm;

				i {
					position: absolute;
					top: 28%;
					left: 28%;
				}
			}
		}
	}

	&.photos {
		.photo-frame {
			position:absolute;
			width:100%;
			margin-top:40px;

			.inner {
				position: relative;
				margin: 0 auto;
				$frameSize: 300px;
				width: $frameSize;
				height: $frameSize;
				padding: 10px;
				background-size: contain;
				background-position: center;

				&.photo-matte {
					background-color: #ddd;
				}

				p {
					width: 85%;
					margin: 37% auto;
					color: $calm;

					.icon {
						font-size: 1.7em;
						vertical-align: middle;
						margin-right: 8px;
					}
				}

				&.activated {
					p {
						opacity: .7;
					}
				}

				.frame {
					position: absolute;
					top:0;
					left:0;
					width: $frameSize;
					height: $frameSize;

					//TODO replace with SVG border as in Tracey's comp
					border: 2px solid #333333;
				}
			}
		}
	}

	&.selectOrganism{
		.bar-subheader .name {
			color: $calm;
		}

		.cta {
			//tweak so you can see the top border which was hiding under the bar-subhead
			margin-top:1px;
		}

		.tiles {
			text-align: center;
			vertical-align: top;
		}

		$picSize:145px;
		$tileWidth:$picSize;
		$tileHeight:226px;
		$borderColor: #666;

		.tile {
			position: relative;
			display:inline-block;
			margin: 5px;
			width: $tileWidth;
			height: $tileHeight;
			overflow: hidden;
			vertical-align: top;

			img {
				display:block;
				width:$picSize;
				height:$picSize;
			}

			.item {
				border: none;
				padding-top:0;
				padding-bottom:8px;
			}

			.item-input-wrapper {
				margin-top: 5px;
			}

			input {
				height:45px;
				line-height: 19px;
			}

			&.activated {
				opacity: .7;
			}

			.frame{
				position: absolute;
				top:0;
				left:0;
				width: $tileWidth;
				height: $tileHeight;
				border: 1px solid $borderColor;

				&.selected {
					border: 3px solid $calm;
				}
			}

		}

		.noImage{
			width: $picSize;
			height: $picSize;
			border-bottom:1px solid $borderColor;
			background-color: $bop-disabled;
		}

		.name {
			line-height: 1.2em;
			padding-top:5px;

			.common{
				font-weight: bold;
			}

			.latin {
				font-style: italic;
			}
		}
	}

	&.notes {
		.bar-subheader .name {
			color: $calm;
		}
	}

//	&.stats {
//
//		.col:first-child {
//			padding-right:25px;
//		}
//
//		.value {
//			$imgHeight: 50px;
//			font-size: 30px;
//			white-space: nowrap;
//			text-align: right;
//			height:$imgHeight;
//			line-height: 2.4em;
//
//			background-repeat: no-repeat;
//			background-position: bottom left;
//			background-size: auto $imgHeight;
//
//			&.alive {
//				background-image: url("/images/protocol1/sessileOrganisms/oyster-alive-selected.svg");
//				background-position-x: -10px; //compensate for left-padding in this svg image
//			}
//
//			&.dead {
//				background-image: url("/images/protocol1/sessileOrganisms/oyster-dead-selected.svg")
//			}
//
//			&.size {
//				background-image: url("/images/protocol1/sessileOrganisms/calipers-average-grey.svg")
//			}
//
//			.units {
//				font-size:70%;
//				padding-left:5px
//			}
//		}
//	}
}

@media screen and (min-width: 768px) {
	.protocol-section.sessileOrganisms {
		.settlement-tiles {
			$tableSize: 500px;
			$tileSpacing:20px;
			border-spacing: $tileSpacing;
			width:$tableSize;
			height:$tableSize;

			.tile {
				font-size: 4em;
			}
		}

		.grid-tiles {
			$tableSize: 520px;
			$tileSpacing:4px;

			padding-top: 30px;
			border-spacing: $tileSpacing;
			width:$tableSize;
			height:$tableSize;

			.tile {
				font-size:2em;

				&.completed {
					i {
						top: 34%;
						left: 34%;
					}
				}
			}
		}
	}
}