@import "bopFonts";
@import "list";
@import "form";

//protocol 2.1
@import "mobileOrganisms";

//protocol 5
@import "waterQuality";

.appVersion {
	position: absolute;
	bottom: 0;
	padding:16px;
	color: #333;
}

.toast-bottom-center {
	bottom:16px;
}