// includes Ionic overrides
@import "variables";

// Then import ionic after. Ionic will use your variables instead of it's own.
//@import '/Users/ablair/Documents/projects/visualScience/bop/bop_git/.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';

@import 'buttons';

@import "bopFonts";
@import "list";
@import "form";

//protocol 1
@import "condition";
@import "oysterGrowth";

//protocol 2.1
@import "mobileOrganisms";

//protocol 5
@import "waterQuality";

//lobby, login, createAccount...
@import "auth";

.appVersion {
	position: absolute;
	bottom: 0;
	padding:16px;
	color: #333;
}

.toast-bottom-center {
	bottom:16px;
}

#toast-container > div {
	opacity: 1;
}

.bop-progress-bar {
	display: block;
	background-color: #cccbca;
	width: 100%;

	.inner {
		background-color: #aa322b;
		height: 10px;
	}
}

.expeditionSettings {
	.activeExpedition {
		color: #aaa;
	}
}

//call to action tip
.cta {
	margin-bottom:15px;
}

.protocol, .protocol-section {
	.scroll-content {
		h2 {
			font-size: 25px;
		}
	}

	.input-label i {
		font-size: 1.2em;
	}
}

.protocol {
	.scroll-content > .scroll {
		> h2 {
			img {
				width: 42px;
				padding-right: 10px;
				vertical-align: middle;
			}
		}
	}

	.section {
		i.title {
			font-size: 140%;
			vertical-align: middle;
			padding-right: 5px;
		}
	}
}

.modal.help {
	h1 {
		font-size: 25px;
	}
}