@import "bopFonts";
@import "list";
@import "form";

//protocol 2.1
@import "mobileOrganisms";

//protocol 5
@import "waterQuality";

.appVersion {
	position: absolute;
	bottom: 0;
	padding:16px;
	color: #333;
}

.toast-bottom-center {
	bottom:16px;
}

#toast-container > div {
	opacity: 1;
}

.bop-progress-bar {
	display: block;
	background-color: #cccbca;
	width: 100%;

	.inner {
		background-color: #aa322b;
		height: 10px;
	}
}