<ion-view title="{{::title}}" class="protocol-section {{::sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-default">
		<h2 class="title title-left">Choose grid number for Tile {{::tileIndex + 1}}</h2>
		<button class="button button-action-alternate icon ion-stats-bars pull-right"
		        ng-click="showTileStats()"></button>
		<button class="button button-action-alternate icon ion-ios-camera pull-right photos"
		        ng-click="showPhoto()"></button>
	</div>

	<div class="bar bar-footer bar-default no-padding">
		<!--<h2 class="title">Foo</h2>-->
		<button class="button button-calm button-full button-footer"
				ng-click="onTapSave()">Save</button>
	</div>

	<ion-content class="has-header has-subheader has-footer">
		<div class="grid-tiles">
			<div ng-repeat="row in grid track by $index"
			     ng-init="$rowIndex = $index"
			     class="tile-row">

				<!-- note ngClick seems to be a dependency of ngMousedown -->
				<div ng-repeat="cell in row track by $index"
				     ng-init="$colIndex = $index"
				     class="tile"
				     ng-click
				     ng-mousedown="className='activated'"
				     ui-sref="app.sessileOrganismsSelectDominant({protocolNum:protocolMetadata.num, sectionMachineName:section.machineName, tileIndex:tileIndex, cellIndex:cell})"
					>{{cell + 1}}</div>
				     <!--ui-sref="app.sessileOrganismsTile({protocolNum:protocolMetadata.num, sectionMachineName:section.machineName, tileIndex:0})">1</div>-->
			</div>
		</div>
	</ion-content>
</ion-view>