<ion-view title="{{::title}}" class="protocol-section {{::sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<!--<ion-nav-buttons side="right">-->
		<!--<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>-->
	<!--</ion-nav-buttons>-->

	<div class="bar bar-footer bar-default no-padding">
		<!--<h2 class="title">Foo</h2>-->
		<button class="button button-calm button-full button-footer"
		        type="submit"
		        form="oysterGrowthForm">Save</button>
	</div>

	<ion-footer-bar class="no-padding">
		<button class="button button-full button-action-alternate button-footer"
				padding="true"
				ng-click="showOverallStats()">Overall Stats
		</button>
	</ion-footer-bar>

	<ion-content class="has-header has-footer">
		<h2 class="padding">{{::sectionMeta.title}}</h2>
		<p class="item item-icon-left item-text-wrap cta"><i class="icon ion-ios-lightbulb-outline"></i> Choose a settlement tile</p>
		<div class="settlement-tiles">
			<div class="tile-row">
				<settlement-tile tile-index="0"
				                 completed="tileIsComplete(0)"
				                 ui-sref="app.sessileOrganismsTile({protocolNum:protocolMetadata.num, sectionMachineName:section.machineName, tileIndex:0})"></settlement-tile>

				<settlement-tile tile-index="1"
				                 completed="tileIsComplete(1)"
				                 ui-sref="app.sessileOrganismsTile({protocolNum:protocolMetadata.num, sectionMachineName:section.machineName, tileIndex:1})"></settlement-tile>
			</div>
			<div class="tile-row">
				<settlement-tile tile-index="2"
				                 completed="tileIsComplete(2)"
				                 ui-sref="app.sessileOrganismsTile({protocolNum:protocolMetadata.num, sectionMachineName:section.machineName, tileIndex:2})"></settlement-tile>

				<settlement-tile tile-index="3"
				                 completed="tileIsComplete(3)"
				                 ui-sref="app.sessileOrganismsTile({protocolNum:protocolMetadata.num, sectionMachineName:section.machineName, tileIndex:3})"></settlement-tile>
			</div>
		</div>
	</ion-content>
</ion-view>