<ion-view title="{{title}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<!--<button class="button button-clear button-positive" ng-click="createExpedition()">Add</button>-->
	</ion-nav-buttons>

	<ion-content class="has-header">
		<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm)">
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>
				<div ng-repeat="shell in section.shells track by $index">
					<div class="item item-divider">Shell/Group #{{$index + 1}}</div>

					<ng-form name="totalsLiveFieldForm">
						<label class="item item-input item-stacked-label"
						       ng-class="{ 'has-error' : totalsLiveFieldForm.totalLive.$invalid && sectionForm.$submitted}">
							<span class="input-label">Total Live Oysters</span>
							<input name="totalLive"
							       type="number"
							       ng-model="section.shells[$index].totals.live"
		                           min="0"
		                           max="12"
							       required>
						</label>

						<div ng-messages="totalsLiveFieldForm.totalLive.$error"
						     class="form-errors"
						     ng-show="totalsLiveFieldForm.totalLive.$invalid && sectionForm.$submitted"
						     ng-messages-include="client/views/partials/form-errors.ng.html">
							<div class="form-error" ng-message="min">No less than 0</div>
							<div class="form-error" ng-message="max">No more than 12</div>
						</div>
						<!--<pre>{{totalsLiveFieldForm.totalLive | json}}</pre>-->
					</ng-form>

					<ng-form name="totalsDeadFieldForm">
						<label class="item item-input item-stacked-label"
						       ng-class="{ 'has-error' : totalsDeadFieldForm.totalLive.$invalid && sectionForm.$submitted}">
							<span class="input-label">Total Dead Oysters</span>
							<input name="totalDead"
							       type="number"
							       ng-model="section.shells[$index].totals.dead"
		                           min="0"
		                           max="12"
							       required>
						</label>

						<div ng-messages="totalsDeadFieldForm.totalDead.$error"
						     class="form-errors"
						     ng-show="totalsDeadFieldForm.totalDead.$invalid && sectionForm.$submitted"
						     ng-messages-include="client/views/partials/form-errors.ng.html">
							<div class="form-error" ng-message="min">No less than 0</div>
							<div class="form-error" ng-message="max">No more than 12</div>
						</div>
					</ng-form>

					<h5 ng-if="section.shells[$index].totals.live > 0" class="padding">Measure all LIVE oysters</h5>
					<div ng-repeat="oyster in getTotalLiveOystersArr($index) track by $index">
						<ng-form name="liveOysterSize">
							<label class="item item-input"
							       ng-class="{ 'has-error' : liveOysterSize.liveSizeMM.$invalid && sectionForm.$submitted}">
								<span class="input-label">#{{$index + 1}}</span>
								<input name="liveSizeMM"
								       type="number"
								       ng-model="section.shells[$parent.$index].liveSizesMM[$index]"
			                           min="1"
			                           max="{{maxSpatSizeMM}}"
								       required>mm
							</label>
							<div ng-messages="liveOysterSize.liveSizeMM.$error"
							     class="form-errors"
							     ng-show="liveOysterSize.liveSizeMM.$invalid && sectionForm.$submitted"
							     ng-messages-include="client/views/partials/form-errors.ng.html">
								<div class="form-error" ng-message="min">Can't be less than 1</div>
								<div class="form-error" ng-message="max">{{liveOysterSize.liveSizeMM.$viewValue}}mm seems to big to be true</div>
							</div>
						</ng-form>

					</div>


					<!--<label class="item item-input item-stacked-label"-->
					       <!--ng-class="{ 'has-error' : sectionForm.title.$invalid && sectionForm.$submitted}">-->
						<!--<span class="input-label">Total Live Oysters</span>-->
						<!--<div>{{totalLive}}</div>-->
						<!--&lt;!&ndash;<input name="title"&ndash;&gt;-->
						       <!--&lt;!&ndash;type="text"&ndash;&gt;-->
						       <!--&lt;!&ndash;placeholder="The voyage of the Beagle"&ndash;&gt;-->
						       <!--&lt;!&ndash;ng-model="expeditionEditing.title"&ndash;&gt;-->
						       <!--&lt;!&ndash;ng-minlength="5"&ndash;&gt;-->
	                           <!--&lt;!&ndash;ng-maxlength="100"&ndash;&gt;-->
	                           <!--&lt;!&ndash;required>&ndash;&gt;-->
					<!--</label>-->
				</div>
				<!--<label class="item item-input item-stacked-label"-->
				       <!--ng-class="{ 'has-error' : sectionForm.title.$invalid && sectionForm.$submitted}">-->
					<!--<span class="input-label">Expedition Title</span>-->
					<!--<input name="title"-->
					       <!--type="text"-->
					       <!--placeholder="The voyage of the Beagle"-->
					       <!--ng-model="expeditionEditing.title"-->
					       <!--ng-minlength="5"-->
                           <!--ng-maxlength="100"-->
                           <!--required>-->
				<!--</label>-->
				<!--<div class="form-errors" ng-messages="sectionForm.title.$error"-->
				     <!--ng-show="sectionForm.title.$invalid && sectionForm.$submitted"-->
				     <!--ng-messages-include="client/views/partials/form-errors.ng.html">-->
				<!--</div>-->

				<!--<label class="item item-input item-select"-->
				       <!--ng-class="{ 'has-error' : sectionForm.site.$invalid && sectionForm.$submitted}">-->
					<!--<div class="input-label">-->
						<!--Name of site-->
					<!--</div>-->
					<!--<select name="site"-->
					        <!--ng-options="item.label for item in waterBodies track by item._id" ng-model="expeditionEditing.site"-->
					        <!--required></select>-->
				<!--</label>-->
				<!--<div class="form-errors" ng-messages="sectionForm.site.$error"-->
				     <!--ng-show="sectionForm.site.$invalid && sectionForm.$submitted"-->
				     <!--ng-messages-include="client/views/partials/form-errors.ng.html">-->
				<!--</div>-->

				<!--<div class="item item-input">-->
					<!--<span class="input-label">Location</span>-->
					<!--<input type="text" placeholder="lat,lng" ng-model="expeditionEditing.location">-->
					<!--<button class="button button-clear button-positive icon ion-pinpoint" ng-click="setLocationUsingGPS()"></button>-->
				<!--</div>-->

				<!--<ion-toggle ng-model="expeditionEditing.published" toggle-class="toggle-balanced">Published</ion-toggle>-->
				<button class="button button-full button-calm"
				        padding="true"
				        type="submit"
				        >Save</button>

				        <!--ng-disabled="sectionForm.$invalid"-->
				<!--<p>title errors: {{sectionForm.title.$error}}</p>-->
				<!--<p>site errors: {{sectionForm.site.$error}}</p>-->
			</ion-list>
		</form>
	</ion-content>
</ion-view>