<ion-view title="{{::title}}" class="protocol-section {{::sectionMeta.machineName}} selectOrganism">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader">
		<h2 class="title">
			Tile {{::tileIndex + 1}} Grid {{::cellIndex + 1}}<span ng-if="selectedOrgName">: <span class="name"> {{selectedOrgName}}</span></span>
		</h2>
	</div>

	<div class="bar bar-footer bar-default">
		<!--<h2 class="title">Foo</h2>-->
		<!--<h2 class="title">Foo</h2>-->
		<button class="button button-calm pull-right" style="margin-right:55px"
		        ng-click="setDone('co-dominant')"
				ng-disabled="!cell.coDominantOrgID">Add Note</button>
		<button class="button button-calm pull-right"
		        ng-click="setDone('notes')"
				ng-disabled="!cell.coDominantOrgID">Done</button>
	</div>

	<ion-content class="has-header has-subheader has-footer">
		<p class="item item-icon-left item-text-wrap cta"><i class="icon ion-ios-lightbulb-outline"></i> Record co-dominant cover</p>
		<div class="tiles">
			<sessile-organism-card organism="none"
			                       special-label="'NONE'"
			                       selected="cell.coDominantOrgID == 'none'"
			                       ng-click="setSelectedOrg('co-dominant', 'none')"></sessile-organism-card>

			<sessile-organism-card ng-repeat="org in organisms | filter:{category:filters.category || undefined} | orderBy:'common' track by org._id"
			                       organism="org"
			                       selected="org._id == cell.coDominantOrgID"
			                       ng-click="setSelectedOrg('co-dominant', org._id)"></sessile-organism-card>

			<sessile-organism-card organism="other"
			                       special-label="'OTHER'"
			                       selected="cell.coDominantOrgID == 'other'"
			                       ng-click="setSelectedOrg('co-dominant', 'other')"></sessile-organism-card>
		</div>
	</ion-content>
</ion-view>