<ion-view title="{{::title}}" class="protocol-section {{::sectionMeta.machineName}} selectOrganism">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader">
		<h2 class="title">
			Tile {{::tileIndex + 1}} Grid {{::cellIndex + 1}}<span ng-if="selectedOrgName">: <span class="name"> {{selectedOrgName}}</span></span>
		</h2>
	</div>

	<div ng-if="!cell.dominantOrgID || cell.dominantOrgID!='none'" class="bar bar-footer bar-default">
		<button class="button button-calm pull-right"
				ng-click="setDone('dominant')"
				ng-disabled="!cell.dominantOrgID">Next</button>
	</div>

	<div ng-if="cell.dominantOrgID=='none'" class="bar bar-footer bar-default">
		<button class="button button-calm pull-right" style="margin-right:55px"
		        ng-click="setDone('dominant')"
				ng-disabled="!cell.dominantOrgID">Add Note</button>
		<button class="button button-calm pull-right"
		        ng-click="setDone('dominantComplete')"
				ng-disabled="!cell.dominantOrgID">Done</button>
	</div>

	<ion-content class="has-header has-subheader has-footer">
		<p class="item item-icon-left item-text-wrap cta"><i class="icon ion-ios-lightbulb-outline"></i> Record dominant cover</p>
		<div class="tiles">
			<sessile-organism-card organism="null"
			                       special-label="'NONE'"
			                       selected="cell.dominantOrgID == 'none'"
			                       ng-click="setSelectedOrg('dominant', 'none')"></sessile-organism-card>

			<sessile-organism-card ng-repeat="org in organisms | orderBy:'common' track by org._id"
			                       organism="org"
			                       selected="org._id == cell.dominantOrgID"
			                       ng-click="setSelectedOrg('dominant', org._id)"></sessile-organism-card>

			<sessile-organism-card organism="other"
			                       special-label="'OTHER'"
			                       selected="cell.dominantOrgID == 'other'"
			                       ng-click="setSelectedOrg('dominant', 'other')"></sessile-organism-card>

		</div>
	</ion-content>
</ion-view>