<ion-modal-view class="protocol-section sessileOrganisms photos">
	<ion-header-bar>
		<h1 class="title">Tile {{::tileIndex + 1}} photo</h1>
		<button class="button button-calm" ng-click="closePhotosModal()">Done</button>
	</ion-header-bar>

	<ion-content scroll="true" class="has-header text-center">
		<div class="photo-frame">
			<div class="inner"
			     ng-class="{'photo-matte': photoURL != null}"
			     ng-click="takePhoto()"
			     ng-mousedown="className='activated'"
			     bop-back-img="{{photoURL}}">
				<p ng-show="!photoURL"><i class="icon ion-ios-camera"></i>TAKE A PHOTO OF SETTLEMENT TILE {{::tileIndex + 1}}</p>
				<div class="frame"></div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>