<ion-view title="Home">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="navigateToOverview()">Overview</button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<h4 class="padding">{{expedition.title}}</h4>
		<ion-list>
			<ion-item ng-repeat="protocol in protocols"
			          ui-sref="app.protocol({protocolNum:protocol.num})">
				Protocol {{protocol.num}}
				<span class="item-note">{{protocol.title}}</span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>