<ion-side-menus>

	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear" ng-click="myGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header bar-stable">
			<h1 class="title">Main Menu</h1>
		</header>
		<ion-content class="has-header" scroll="false">
			<ion-list>
				<ion-item ng-if="hasExpeditions()"
				          nav-clear menu-close
				          ui-sref="app.home"
				          class="item-text-wrap">
					Protocols<br>
					<p>{{expedition.alias || getExpeditionTitle(expedition)}}</p>
					<!--<span class="item-note"></span>-->
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.expeditions">
					My Expeditions
					<span class="badge badge-positive">{{getTotalExpeditions()}}</span>
				</ion-item>
				<ion-item ng-if="isLocalDev()" nav-clear menu-close ui-sref="app.uploadTest">
					Offline Images Demo
				</ion-item>
				<ion-item ng-click="logout()">
					Logout
					<p>{{getUserEmail()}}</p>
				</ion-item>
			</ion-list>
			<p class="appVersion">V {{buildNumber.native || '#.#.#'}}-{{buildNumber.hotPush}}</p>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>