<ion-side-menus>

	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header bar-stable">
			<h1 class="title">Main Menu</h1>
		</header>
		<ion-content class="has-header" scroll="false">
			<meteor-include src="loginButtons"></meteor-include>
			<ion-list>
				<ion-item ng-if="hasExpeditions()" nav-clear menu-close ui-sref="app.home">
					Expedition Home
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.expeditions">
					My Expeditions
				</ion-item>
				<!--<ion-item ng-if="hasExpeditions()" nav-clear menu-close ui-sref="app.todos">-->
					<!--TODOs-->
				<!--</ion-item>-->
			</ion-list>
			<p class="appVersion">V 0.0.8</p>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>