<ion-view title="Protocol {{protocol.num}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<!--<ion-nav-buttons side="right">-->
		<!--<button class="button button-clear button-positive" ng-click="navigateToOverview()">Overview</button>-->
	<!--</ion-nav-buttons>-->
	<ion-content class="has-header">
		<h2 class="padding">{{protocol.title}}</h2>
		<ion-list>
			<ion-item ng-repeat="section in protocol.sections track by $index"
			          ui-sref="app.{{section.machineName}}({protocolNum:protocol.num, sectionMachineName:section.machineName})">
				{{$index + 1}}. {{section.title}}
			</ion-item>
			<ion-toggle ng-model="protocolPublished" toggle-class="toggle-balanced">
				This protocol is ready for review
				<span class="item-note">{{protocolPublished ? 'Yes' : 'No'}}</span>
			</ion-toggle>
		</ion-list>
	</ion-content>
</ion-view>