<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<!--<div class="bar bar-subheader bar-positive">-->
		<!--<div class="buttons">-->
			<!--<button class="button button-clear" ng-click="showFilters()">Filters</button>-->
		<!--</div>-->

		<!--<h2 class="title">Subhead!</h2>-->

		<!--<div class="buttons">-->
			<!--<button class="button">Right Button</button>-->
		<!--</div>-->
	<!--</div>-->

	<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
		<ion-content class="has-header">
			<div ng-init="setFormScope(sectionForm)"></div>
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<!-- Shoreline types ____________ start -->
				<div class="item item-divider">Choose shoreline type:</div>
				<ion-checkbox ng-repeat="type in shorelineTypes track by type.id"
				              ng-model="formIntermediary.shorelineTypes[type.id]">{{type.label}}</ion-checkbox>

				<div ng-if="formIntermediary.shorelineTypes.other">
					<label class="item item-input item-stacked-label item-text-wrap"
					       ng-class="{ 'has-error' : sectionForm.shorelineDescOther.$invalid && sectionForm.$submitted}"
							>
						<span class="input-label">Other Shoreline Description</span>

						<textarea name="shorelineDescOther"
						          ng-model="section.shorelineDescOther"
						          msd-elastic="\n"></textarea>
					</label>
					<div class="form-errors" ng-messages="sectionForm.shorelineDescOther.$error"
					     ng-show="sectionForm.shorelineDescOther.$invalid && sectionForm.$submitted">
						<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
					</div>
				</div>

				<!-- Observe percent coverage ___________ start -->
				<div class="item item-divider">Estimate percent surface cover</div>
				<label class="item item-input item-text-wrap item-stacked-label"
				     ng-class="{ 'has-error' : sectionForm.imperviousSurfacePct.$invalid && sectionForm.$submitted}">
					<span class="input-label">Impervious Surface (concrete/asphalt paths, roads, buildings etc.) (%)</span>
					<input name="imperviousSurfacePct"
					       type="number"
					       ng-model="section.imperviousSurfacePct"
					       ng-change="settotalLandSurfaceAreas()"
					       min="0"
					       max="100"
					       >
				</label>
				<div class="form-errors" ng-messages="sectionForm.imperviousSurfacePct.$error"
				     ng-show="sectionForm.imperviousSurfacePct.$invalid && sectionForm.$submitted">
					<div class="form-error" ng-message="min">{{getMessage('outOfBounds') | tokenValues:[0,100]}}</div>
					<div class="form-error" ng-message="max">{{getMessage('outOfBounds') | tokenValues:[0,100]}}</div>
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<label class="item item-input item-text-wrap item-stacked-label"
				     ng-class="{ 'has-error' : sectionForm.perviousSurfacePct.$invalid && sectionForm.$submitted}">
					<span class="input-label">Pervious Surface (dirt, gravel etc.) (%)</span>
					<input name="perviousSurfacePct"
					       type="number"
					       ng-model="section.perviousSurfacePct"
					       ng-change="settotalLandSurfaceAreas()"
					       min="0"
					       max="100"
					       >
				</label>
				<div class="form-errors" ng-messages="sectionForm.perviousSurfacePct.$error"
				     ng-show="sectionForm.perviousSurfacePct.$invalid && sectionForm.$submitted">
					<div class="form-error" ng-message="min">{{getMessage('outOfBounds') | tokenValues:[0,100]}}</div>
					<div class="form-error" ng-message="max">{{getMessage('outOfBounds') | tokenValues:[0,100]}}</div>
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<label class="item item-input item-text-wrap item-stacked-label"
				     ng-class="{ 'has-error' : sectionForm.vegetatedSurfacePct.$invalid && sectionForm.$submitted}">
					<span class="input-label">Vegetated surface (grass, shrubs, trees) (%)</span>
					<input name="vegetatedSurfacePct"
					       type="number"
					       ng-model="section.vegetatedSurfacePct"
					       ng-change="settotalLandSurfaceAreas()"
					       min="0"
					       max="100"
					       >
				</label>
				<div class="form-errors" ng-messages="sectionForm.vegetatedSurfacePct.$error"
				     ng-show="sectionForm.vegetatedSurfacePct.$invalid && sectionForm.$submitted">
					<div class="form-error" ng-message="min">{{getMessage('outOfBounds') | tokenValues:[0,100]}}</div>
					<div class="form-error" ng-message="max">{{getMessage('outOfBounds') | tokenValues:[0,100]}}</div>
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<label class="item item-input item-text-wrap item-stacked-label"
				     ng-class="{ 'has-error' : sectionForm.totalLandSurfaceAreas.$invalid && sectionForm.$submitted}">
				    <span class="input-label">Total (must equal 100%)</span>
					<input name="totalLandSurfaceAreas"
					       type="number"
					       ng-model="formIntermediary.totalLandSurfaceAreas"
					       min="100"
					       max="100"
					       >
				</label>
				<div class="form-errors" ng-messages="sectionForm.totalLandSurfaceAreas.$error"
				     ng-show="sectionForm.totalLandSurfaceAreas.$invalid && sectionForm.$submitted">
					<div class="form-error" ng-message="min">{{getMessage('exactly') | tokenValues:[100]}}</div>
					<div class="form-error" ng-message="max">{{getMessage('exactly') | tokenValues:[100]}}</div>
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

				<div class="item item-divider">
					Is there any garbage on the land?
				</div>
				<div class="list list-inline">
					<ion-radio name="landGarbage"
					              class="item-text-wrap"
					              value=""
					              ng-model="formIntermediary.landGarbage">No</ion-radio>
					<ion-radio name="landGarbage"
					              class="item-text-wrap"
					              value="1"
					              ng-model="formIntermediary.landGarbage">Yes</ion-radio>
				</div>
				<div ng-if="formIntermediary.landGarbage" class="item item-divider">
					Identify the quantity of each type of garbage
				</div>
				<div ng-if="formIntermediary.landGarbage">
					<div ng-repeat="garbageType in garbageTypes">
						<label class="item item-input item-select">
							<div class="input-label" ng-bind="garbageType.label"></div>
							<select name="garbageType.name"
							        ng-options="garbageQuantity.label for garbageQuantity in garbageQuantities track by garbageQuantity.value"
							        ng-model="section[garbageType.name]"></select>
						</label>
					</div>
				</div>
			</ion-list>
		</ion-content>
		<ion-footer-bar class="no-padding">
			<button class="button button-full button-calm button-footer"
			        padding="true"
			        type="submit"
			        >Save</button>
		</ion-footer-bar>
	</form>
</ion-view>