<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<form name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
		<ion-content class="has-header">
			<div ng-init="setFormScope(sectionForm)"></div>
			<ion-list>
				<h2 class="padding">{{sectionMeta.title}}</h2>

				<label class="item item-input item-stacked-label item-text-wrap"
				       ng-class="{ 'has-error' : sectionForm.otherObservations.$invalid && sectionForm.$submitted}">
					<span class="input-label">Note any other observations (enter N/A if not applicable):</span>

					<textarea name="otherObservations"
					          placeholder="{{getMessage('cageDamageDescPlaceholder')}}"
					          ng-model="section.otherObservations"
					          msd-elastic="\n"></textarea>
				</label>
				<div class="form-errors" ng-messages="sectionForm.otherObservations.$error"
				     ng-show="sectionForm.otherObservations.$invalid && sectionForm.$submitted">
					<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
				</div>

			</ion-list>
		</ion-content>
		<ion-footer-bar class="no-padding">
			<button class="button button-full button-calm button-footer"
			        padding="true"
			        type="submit"
			        >Save</button>
		</ion-footer-bar>
	</form>
</ion-view>