<ion-view title="{{::title}}" class="protocol-section {{::sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-default">
		<h2 class="title title-left">Substrate shell {{::shellIndex + 1}} of {{section.substrateShells.length}}</h2>
		<button class="button button-action-alternate icon ion-stats-bars" ng-click="showShellStats()"> Stats</button>
	</div>

	<div class="bar bar-footer bar-default">
		<button class="button button-clear button-calm icon ion-ios-plus-empty"
		        ng-click="addOyster()">Add oyster</button>
		<!--<h2 class="title">Foo</h2>-->
		<button class="button button-calm"
		        type="submit"
		        form="oysterGrowthForm">Save</button>
	</div>

	<ion-content class="has-header has-subheader has-footer">
		<form id="oysterGrowthForm" name="sectionForm" novalidate="" ng-submit="onTapSave(sectionForm.$valid)">
			<div ng-init="setFormScope(sectionForm)"></div>
			<ion-list>
				<ng-form name="shellSizesForm">
					<ng-switch on="getOysters().length">
						<p ng-switch-when="0" class="item item-icon-left item-text-wrap">
							<i class="icon ion-ios-lightbulb-outline"></i> Tap the 'Add oyster' button to begin
						</p>
						<p ng-switch-default class="item item-icon-left item-text-wrap">
							<i class="icon ion-ios-lightbulb-outline"></i> Measure all LIVE oysters. Swipe left to delete.
						</p>

					</ng-switch>
					<ion-item ng-repeat="oyster in getOysters() track by $index" class="oyster">
						<ng-form name="oystersForm">
							<h3>Oyster #{{$index + 1}} of {{getOysters().length}}:</h3>
								<!-- oyster isAlive toggle buttons -->
								<div class="living-status">
									<input id="aliveRadio{{$index}}"
									       type="radio"
									       ng-model="oyster.isAlive"
									       ng-value="radioBoolValues.boolTrue"
									       ng-change="updateOysterStats(shellSizesForm.$valid, $index)"
											>
									<label for="aliveRadio{{$index}}">Alive</label>

									<input id="deadRadio{{$index}}"
									       type="radio"
									       ng-model="oyster.isAlive"
									       ng-value="radioBoolValues.boolFalse"
									       ng-change="updateOysterStats(shellSizesForm.$valid, $index)"
									       >
									<label for="deadRadio{{$index}}" class="dead">Dead</label>
								</div>

								<!-- oyster size -->
								<div ng-if="oyster.isAlive" class="size">
									<div class="fg">
										<div class="inputContainer">
											<input name="liveSizeMM"
											       type="number"
											       placeholder="0"
											       ng-class="{ 'has-error' : oystersForm.liveSizeMM.$invalid && sectionForm.$submitted}"
											       ng-model="section.substrateShells[shellIndex].oysters[$index].sizeMM"
											       ng-change="updateOysterStats(shellSizesForm.$valid, shellIndex); updateMainTotals(sectionForm.$valid)"
						                           min="1"
						                           max="{{maxSpatSizeMM}}"
											       required
											       >
											<span>mm</span>
										</div>
										Measurement
									</div>
								</div>
								<div ng-messages="oystersForm.liveSizeMM.$error"
								     class="form-errors"
								     ng-show="oystersForm.liveSizeMM.$invalid && sectionForm.$submitted">
									<div class="form-error" ng-message="min">{{getMessage('notLessThanN') | tokenValues:[1]}}</div>
									<div class="form-error" ng-message="max">{{getMessage('unlikelyBig')}}</div>
									<div ng-messages-include="client/views/partials/form-errors.ng.html"></div>
								</div>
						</ng-form>
						<ion-option-button class="button-assertive" ng-click="deleteOyster($index)">Delete</ion-option-button>
					</ion-item>

					<!--<pre>{{section.substrateShells[shellIndex] | json}}</pre>-->
				</ng-form>
			</ion-list>
		</form>
	</ion-content>
</ion-view>