<ion-modal-view class="protocol-section oysterGrowth stats">
	<ion-header-bar>
		<h1 class="title">Overall Stats</h1>
		<button class="button button-clear button-positive" ng-click="overallStatsModal.remove()">Close</button>
	</ion-header-bar>
	<ion-content scroll="true" class="has-header padding">
		<div class="row">
			<div class="col" ng-class="{'col-50':!useTabletLayout(), 'col-33':useTabletLayout()}">
				<h5>Total alive</h5>
				<p class="value alive">{{section.totalsMortality.live}}</p>
			</div>

			<div class="col" ng-class="{'col-50':!useTabletLayout(), 'col-33':useTabletLayout()}">
				<h5>Total dead</h5>
				<p class="value dead">{{section.totalsMortality.dead}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col" ng-class="{'col-50':!useTabletLayout(), 'col-33':useTabletLayout()}">
				<h5>Minimum size</h5>
				<p class="value size">{{section.totalsMM.min}}<span class="units">mm</span></p>
			</div>

			<div class="col" ng-class="{'col-50':!useTabletLayout(), 'col-33':useTabletLayout()}">
				<h5>Maximum size</h5>
				<p class="value size">{{section.totalsMM.max}}<span class="units">mm</span></p>
			</div>
		</div>

		<div class="row">
			<div class="col" ng-class="{'col-50':!useTabletLayout(), 'col-33':useTabletLayout()}">
				<h5>Average size</h5>
				<p class="value size">{{section.totalsMM.avg}}<span class="units">mm</span></p>
			</div>

			<div class="col" ng-class="{'col-50':!useTabletLayout(), 'col-33':useTabletLayout()}"></div>
		</div>


		<!--<p>Measurement totals:</p>-->
		<!--<pre>{{section.totalsMM | json}}</pre>-->

		<!--<p>Mortality totals:</p>-->
		<!--<pre>{{section.totalsMortality | json}}</pre>-->
	</ion-content>
</ion-modal-view>