<ion-modal-view class="protocol-section oysterGrowth overallStats">
	<ion-header-bar>
		<h1 class="title">Overall Stats</h1>
		<button class="button button-clear button-positive" ng-click="statsModal.remove()">Close</button>
	</ion-header-bar>
	<ion-content scroll="true" class="has-header padding">
		<h2>Oyster growth overall stats</h2>
		<p>TODO</p>
<!--
		<div ng-show="sectionForm.$valid" class="calculated-fields">
			<h5 class="padding">Population total oyster measurements</h5>
			<label class="item item-input">
				<span class="input-label">Min. size</span>
				<input name="min"
				       type="number"
				       ng-model="section.totalsMM.min"
				       tabindex="-1"
				       readonly>
				<span class="input-label">mm</span>
			</label>

			<label class="item item-input">
				<span class="input-label">Max. size</span>
				<input name="max"
				       type="number"
				       ng-model="section.totalsMM.max"
				       tabindex="-1"
				       readonly>
				<span class="input-label">mm</span>
			</label>

			<label class="item item-input">
				<span class="input-label">Avg. size</span>
				<input name="avg"
				       type="number"
				       ng-model="section.totalsMM.avg"
				       tabindex="-1"
				       readonly>
				<span class="input-label">mm</span>
			</label>
		</div>
		<div ng-show="sectionForm.$valid" class="calculated-fields">
			<h5 class="padding">Population total mortality:</h5>
			<label class="item item-input">
				<span class="input-label">Live</span>
				<input name="min"
				       type="number"
				       ng-model="section.totalsMortality.live"
				       tabindex="-1"
				       readonly>
			</label>

			<label class="item item-input">
				<span class="input-label">Dead</span>
				<input name="min"
				       type="number"
				       ng-model="section.totalsMortality.dead"
				       tabindex="-1"
				       readonly>
			</label>

		</div>
-->

	</ion-content>
</ion-modal-view>