<ion-modal-view class="mobileOrganismsModal">
	<!--<ion-header-bar>-->
		<!--<h1 class="title">Filters</h1>-->
		<!--<button class="button button-clear button-positive" ng-click="filtersModal.remove()">Close</button>-->
	<!--</ion-header-bar>-->
	<ion-content scroll="true" class="padding">
		<button class="button button-positive button-full" ng-click="onChangeCategory()">All</button>
		<div class="tiles">
			<img ng-repeat="cat in orgCategories"
			     class="tile"
			     ng-click="onChangeCategory(cat)"
			     ng-src="/images/protocol2/mobileOrganisms/filterIcons/{{categoryMap[cat]}}"
					>
		</div>
	</ion-content>
</ion-modal-view>

