<ion-view title="{{title}}" class="protocol-section {{sectionMeta.machineName}}">
	<ion-nav-buttons side="left">
		<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="showHelp(protocolMetadata.num, sectionMeta.machineName)">Help</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-positive">
		<div class="buttons">
			<button class="button button-clear" ng-click="showFilters()">Filters</button>
		</div>

		<!--<h2 class="title">Subhead!</h2>-->

		<!--<div class="buttons">-->
			<!--<button class="button">Right Button</button>-->
		<!--</div>-->
	</div>

	<ion-content class="has-header has-subheader">
		<h2 class="padding">{{sectionMeta.title}}</h2>

		<div class="tiles">
			<div ng-repeat="org in organisms | filter:{category:filters.category || undefined} track by org._id.toHexString()" ng-init="id = org._id.toHexString()" class="tile">
				<img ng-src="/images/protocol2/mobileOrganisms/{{org.file}}"><br>
				<p class="name">
					<span class="common">{{org.common}}</span><br>
					<span class="latin">{{org.latin}}</span>
				</p>
				<div class="controls">
					<button class="button icon ion-minus left" ng-click="decrement(id)"></button>
					<button class="button icon ion-plus right" ng-click="increment(id)"></button>
					<label class="item item-input">
						<input type="number" min="0" ng-model="section.organisms[id].count" ng-blur="enforceNumber(id)">
					</label>
				</div>
			</div>
		</div>

		<button class="button button-block button-positive" ng-click="onTapSave()">Save</button>
	</ion-content>
</ion-view>